<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ config.extra.papermod.language_direction }}">
<head>
    {% block head %}
    {% include "partials/head.html" %}
    {% endblock %}
</head>
<body class="list{% if config.extra.papermod.theme == 'dark' %} dark{% endif %}" id="top">
    {% block header %}
    {% include "partials/header.html" %}
    {% endblock %}
    <main class="main single-article">
        {% block main %}
        {% if section %}
        <!-- This is a section -->
        <section class="articles">
            <div class="container">
                <h1>{{ section.title }}</h1>
                <ul>
                    {% for article in section.pages %}
                    <li>
                        <a href="{{ article.permalink }}">{{ article.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        {% else %}
        <!-- This is a single page -->
        <article>
            <div class="container">
                <h1>{{ page.title }}</h1>
                <div class="post-content">
                    {{ page.description }}
                </div>

                {% if config.extra.papermod.show_toc | default(value=true) %}
                {% include "partials/toc.html" %}
                {% endif %}
                <div class="post-content">
                    {{ page.content | safe }}
                </div>
            </div>
        </article>
        {% endif %}
        {% endblock %}
    </main>
    {% block footer %}
    {% include "partials/footer.html" %}
    {% endblock %}
</body>
</html>
