{% import "macros/social_icon.svg.html" as macro_social -%}
<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ config.extra.papermod.language_direction }}">
<head>
    {% block head %}
    {% include "partials/head.html" %}
    {% endblock %}
</head>
<body class="list{% if config.extra.papermod.theme == 'dark' %} dark{% endif %}" id="top">
    {% block header %}
    {% include "partials/header.html" %}
    {% endblock %}
    <main class="main">
        {% block main %}
        <article>
            <header class="entry-header">
                <h1>Learn About Hashpool</h1>
            </header>
            <div class="entry-content">
                Fill your mind
            </div>
        </article>
        </article class="post-entry">
            <body>
                <div>
                    <ul>
                        <li><a href="/articles/what-is-hashpool/">What is Hashpool?</a></li>
                        <li><a href="/articles/article-2/">Article 2 Title</a></li>
                        <li><a href="/articles/article-3/">Article 3 Title</a></li>
                        <!-- Add more articles manually as needed -->
                    </ul>
                </div>
            </body>
        </article>
        {% endblock %}
    </main>
    {% block footer %}
    {% include "partials/footer.html" %}
    {% endblock %}
</body>
</html>
