{% import "macros/social_icon.svg.html" as macro_social -%}
<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ config.extra.papermod.language_direction }}">
<head>
    {% block head %}
    {% include "partials/head.html" %}
    {% endblock %}
</head>
<body class="{% if config.extra.papermod.theme == 'dark' %} dark{% endif %}" id="top">
    {% block header %}
    {% include "partials/header.html" %}
    {% endblock %}
    <main class="main">
        {% block main %}
        <section class="featured-article">
            <div class="container">
                <h1>What is Hashpool?</h1>
                <br>
                <p>
                    Hashpool is an accountless mining pool that uses ecash to represent mining shares. This is a 
                    fundamentally more private arrangement for miners and enables a free and private 
                    market for hashrate.
                </p>
            </div>
        </section>
        <section class="articles-toc">
            <div class="container">
                <h1>Table of Contents</h1>
                <ul>
                    <li><a href="/articles/what-is-hashpool/">What is Hashpool?</a></li>
                    <li><a href="/articles/article-2/">Article 2 Title</a></li>
                    <li><a href="/articles/article-3/">Article 3 Title</a></li>
                    <!-- Add more articles manually as needed -->
                </ul>
            </div>
        </section>
        {% endblock %}
    </main>
    {% block footer %}
    {% include "partials/footer.html" %}
    {% endblock %}
</body>
</html>
